@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

$transitionStyle: all 1s ease;
$darkBackgroundColor: hsl(235, 24%, 19%);
$darkColor: hsl(235, 24%, 19%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
}

main,
header,
input,
.input,
.menuBtn,
.renderedEl {
  transition: $transitionStyle;
}

main {
  &.white-bg {
    background: hsl(0, 0%, 98%);
  }

  > header {
    background-image: url("/images/bg-desktop-dark.jpg");
    background-size: cover;
    background-position: center;

    &.headerActive {
      background-image: url("/images/bg-desktop-light.jpg");
    }
  }
}

@layer components {
  .render {
    @apply bg-veryDarkDesaturatedBlue w-full pl-[10px] pr-[10px] pt-[5px] pb-[5px] flex items-center;

    &.renderActive {
      background: hsl(0, 0%, 98%);
    }
  }

  input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 17px;
    border-radius: 50%;
    background-color: $darkBackgroundColor;
    cursor: pointer;
    border: 1px solid gray;

    &:checked {
      display: block;
      background-color: blue;
    }

    &.checkboxActive {
      background: hsl(0, 0%, 98%);
    }
  }
}

input[type="text"] {
  outline: none;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  color: hsl(233, 11%, 84%);
  height: 40px;

  &.inputActive {
    background-color: hsl(0, 0%, 98%);
    color: $darkColor;
  }
}

.todo {
  > p {
    color: hsl(233, 11%, 84%);

    &.activeTxt {
      color: hsl(236, 9%, 61%);
    }
  }
}

.renderedEl {
  border-bottom: 1px solid hsl(0, 0%, 98%);
}

.render.whiteBox {
  background: hsl(0, 0%, 98%);
}

@layer components {
  .elementStates > p {
    @apply sm:px-[10px] md:px-[5px];
  }
}

@layer components {
  .menuBtn p {
    @apply text-[14px] cursor-pointer text-darkGrayishBlue hover:text-white;
  }
}

.menuBtn {
  &.menuActive {
    background: hsl(0, 0%, 98%);

    > div > p.activeParagraph {
      color: hsl(236, 9%, 61%);

      &:hover {
        color: $darkColor;
      }
    }
  }
}

p.activeEl {
  color: blue;
}

input.checker:checked + p {
  text-decoration: line-through;
  color: gray;
}

figure {
  visibility: hidden;
}

.renderedEl:hover figure {
  visibility: visible;
}

.todo > p.whiteTxt {
  color: #fff;
}

li {
  text-transform: capitalize;

  p {
    transition: $transitionStyle;
  }
}

// footer
@layer components {
  .attribution > a {
    @apply text-[red];
  }
}
