@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
  font-family: 'Josefin Sans', sans-serif;
}

.editdel-container,
.navigation-container,
.todo--section {
  box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.nav-active {
  color: hsl(220, 98%, 61%);
}

.todo-content {
  > input {
    appearance: none;
    width: 18px;
    height: 17px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid gray;
    position: relative;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

    &::before {
      content: '';
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 50%;
      pointer-events: none;
      background-image: url('../images/icon-check.svg');
      background-size: contain;
      background-repeat: none;
      display: none;
    }

    &:checked {
      background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

      &::before {
        display: block;
      }
    }
  }

  > p {
    text-transform: capitalize;
  }
}

.checked {
  text-decoration: line-through;
}

.editdel-container {
  animation: width 0.2s ease;
}

@keyframes width {
  0% {
    width: 0%;
  }
  100% {
    width: 100px;
  }
}

// you can add border to the parent container to visualize this perfectly
.todo--container.dragging {
  opacity: 0;
}
