@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
}

main {
  > header {
    background-image: url("/images/bg-desktop-dark.jpg");
    background-size: cover;
    background-position: center;
  }

  .todo_Container {
    transform: translate(-50%, -40vh);
  }
}

@layer components {
  .render {
    @apply bg-veryDarkDesaturatedBlue w-full pl-[10px] pr-[10px] pt-[5px] pb-[5px] flex items-center;
  }

  input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 17px;
    border-radius: 50%;
    background-color: hsl(235, 24%, 19%);
    cursor: pointer;
    border: 1px solid gray;

    &:checked {
      display: block;
      background-color: blue;
    }
  }
}

input[type="text"] {
  outline: none;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  color: #fff;
  height: 40px;
}

.renderedEl {
  border-bottom: 1px solid hsl(0, 0%, 98%);
}

@layer components {
  .elementStates > p {
    @apply w-full pl-[5px] pr-[5px];
  }
}

@layer components {
  .menuBtn p {
    @apply text-[14px] cursor-pointer text-darkGrayishBlue hover:text-white;
  }
}

p.activeEl {
  color: blue;
}

input.checker:checked + p {
  text-decoration: line-through;
  transition: all 0.5 ease;
  color: gray;
}

figure {
  visibility: hidden;
}

.renderedEl:hover figure {
  visibility: visible;
}

// footer
@layer components {
  .attribution > a {
    @apply text-[red];
  }
}
